root = true

[*]
charset = utf-8
end_of_line = crlf
indent_size = 4
indent_style = space
insert_final_newline = true
tab_width = 4
trim_trailing_whitespace = true

[*.{{*proj,props,targets},nuspec,config,resx,xml,yml}]
indent_size = 2

[*.{json,resx}]
# Some JSON files are edited by tools and do not have a trailing newline.
insert_final_newline = unset
